* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: 
      "header"
      "main"
      "footer";
    min-height: 100vh;
    background-color: #D7D7D7;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: white;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #e4e4ec;
    position: sticky;
    top: 0;
    height: 5rem;
    z-index: 1;
}

.header-left {
    display: flex;
    align-items: center;
    min-height: 90px;
    min-width: 150px;
}

.header-left img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.header-left h4{
    color: #6B6B6B;
}

.header-center ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header-center ul li a {
    color: #6B6B6B;
    text-decoration: none;
    font-weight: 500;
}

.header-right {
    text-align: right;
}

.header-right .btnMenu{
    display: none;
}

.header-right .Btn{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #D7D7D7;
}

.header-right .Btn a{
    color: #6B6B6B;
    text-decoration: none;
    font-weight: 500;
    font-size: 12pt;
    font-weight: bold;
}

main {
    grid-area: main;
    padding: 20px;
    border-radius: 5px;
}

.intro-section {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 85vh;
    gap: 20px;
    padding: 40px;
    background: linear-gradient(90deg, #ffffff, #ffffff, #999999);
    border-radius: 10px;
    margin-bottom: 40px;
    color: white;
}

.intro-section h1 {
    margin-bottom: 10px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-text, h1, p , h3{
    color: #6B6B6B;
}

p{
    font-size: 12pt;
}

.intro-image {
    display: flex;
    justify-content: center;
}

.intro-image img {
    width: 40%;
    border-radius: 10px;
}

.projects {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 20px;
    gap: 2px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    max-width: 98%;
    gap: 5px;
    border-radius: 10px;
    text-align: center;
    color: #6B6B6B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    cursor: pointer;
}

.projects .cardEcomerce {
    background-color: white;
}


.projects .cardBank {
    background-color: #F4F9FF;
    padding-left: 10px;
    border-color: #d8d8d8;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    color: #475467;
}

.projects .cardAuron{
    background-color: #161622;
}
.projects .cardAuron .cardAuronContent{
    padding-left: 10px;
    border-color: #363A3D;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    background-color: #1d1d2c;
    color: #CDCDE0;
}
.projects .cardAuron .cardAuronContent p{
    color: #CDCDE0;
}

.card .cardBank p{
    color: #475467;
}

.projects .cardCaring{
    background-color: #131619;
}

.projects .cardCaring .content{
    padding-left: 10px;
    border-color: #363A3D;
    border-radius: 10px;
    border-width: 1px;
    background-color: #1A1D21;
    border-style: solid;
    color: #ABB8C4;
}

.card .cardCaring .content p{
    color: #ABB8C4;
}

.card .BtnProject{
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #D7D7D7;
}

.card .BtnProjectBank{
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #0179FE, #4893FF);
}
.card .BtnProjectBank:hover, .BtnProjectCaring:hover, .BtnProjectAuron:ho{
    background: linear-gradient(90deg,#fb5555, #fb5555);
    color: white;
    cursor: not-allowed;
    transform: translateY(0px);
}


.card .BtnProjectCaring {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #24AE7C;
    color: white;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
}

.card a .BtnProject{
    color: #6B6B6B;
    text-decoration: none;
    font-weight: 500;
    font-size: 12pt;
    font-weight: bold;
}

.card .BtnProject:hover{
    background-color: #fb5555;
    color: white;
    cursor: not-allowed;
    transform: translateY(0px);
}

.card a .BtnProjectBank{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 12pt;
    font-weight: bold;
}


.BtnProjectAuron {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    background: linear-gradient(90deg, #FF8C00, #FFA300);
}

footer {
    grid-area: footer;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #e4e4ec;
}

.carousel-item {
    padding: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    gap: 5px;
    border-radius: 10px;
    text-align: center;
    color: #6B6B6B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.html-icon {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    display: block;
    margin: 0 auto 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    background-color: #6B6B6B;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .carousel-item .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}







.symbol{
    font-size: 14pt;
}

@media (max-width:670px) {
    ul li a{
        display: none;
    }
    .Btn{
        display: none;
    }
    .header-right{
        display: flex;
        justify-content: right;
    }
    .header-right .btnMenu{
        border: none;
        height: 50px;
        width: 50px;
        border-radius: 5px;
        background-color: transparent;
        display: block;
    }
}

@media (max-width: 992px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .card{
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .projects {
        grid-template-columns: 1fr;
    }
}